
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* font-size: 10px */
    font-size: 100%;
    
}

:root {
    --color-text: #252525;
    --color-primary: #17a2b8;
    --color-black: #000;
    --color-green: rgb(9, 182, 9);
    --color-backround: rgb(225, 219, 219);
}

.grid {
    width: 1300px;
    display: flex;
    margin: 0 auto;
    padding: 100px;
}

.col-5 {
    width: 20%;
    margin: 0 10px;
}

.col-1-4 {
    width: 25%;
}

.colum-3 {
    width: 33.333%;
    padding: 0 10px;
}

.navbar_container {
    padding: 60px 0 80px 0;
    text-align: center;

}

/* filter product */



.filter_container {
    margin-bottom: 30px;
}

.filter_title {
    font-size: 20px;
    color: var(--color-text);
    font-weight: 400;
    margin-bottom: 20px;
}

.filter_list {
    border: 1px solid var(--color-primary);
    border-radius: 5px;
}

.filter_list-color {
    display: flex;
    justify-content: space-evenly;
}
.stay-here{
    background-color:var(--color-backround);
}
.filter_item {
    font-size: 15px;
    color: #707070;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
}
.filter_item:hover {
    color: #707070;
    background-color: var(--color-backround);
}
.filter_item-a{
    text-decoration: none;
    color: #707070;
}
.filter_item-a:hover {
    color: #707070;
}

.filter_item-list {
    padding-top: 10px;
    display: none;
}
.filter_item-list-product {
    list-style: none;
    font-size:15px;
    color: #707070;
    padding: 5px 10px;
}

.filter_item:hover,
.filter_item-list-product:hover {
    color: var(--color-primary);
}

.filter_item-color {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
    background-color: #F1C40F;
    margin: 20px 0;
    position: relative;
}

.filter_item-color:nth-child(2){
    background-color: #9B59B6;;
}
.filter_item-color:nth-child(3){
    background-color: #E74C3C;;
}
.filter_item-color:nth-child(4){
    background-color: #2ECC71;;
}
.filter_item-color:nth-child(5){
    background-color: #FF00CC;
}
.filter_item-color:nth-child(6){
    background-color: #E67E22;
}

.filter_item-color-icon {
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    font-size: 15px;
    text-align: center;
    color: #fff; 
}

.filter_item-icon {
    position: relative;
    float: right;
}

.filter_item:first-child {
   margin-top: 20px;
}

.filter_item:last-child {
   margin-bottom: 10px;
}

.filter_item-checkbox-name {
    cursor: pointer;
}

.filter_item-checkbox-input {
    margin-right: 10px;
    cursor: pointer;
}

/* Product view */
.product_view {
    width: 100%;
    margin-left: 40px;
}
.product_view-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.product_view-sort {
    display: flex;
    position: relative;
}


.product_view-sort-name,
.product_view-sort-default {
    font-size: 15px;
    color: var(--color-text);
    margin: 0 5px;
}


.product_view-sort-icon {
    padding: 5px;
}

.product_view-sort-list {
    position: absolute;
    top: 30px;
    left: 10px;
    width: 90%;
    background-color: #fff;
    box-shadow: 0 1px 3px #999;
    display: none;
    transition: listSort ease-in 1s;
    z-index: 1;

}   

@keyframes listSort {
    from{
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.product_view-sort-title {
    cursor: pointer;
}
.product_view-sort-item {
    list-style: none;
    font-size: 15px;
    color: var(--color-text);
    padding: 7px 10px;
    padding-left: 15px;
}

.product_view-sort-item:hover {
    color: var(--color-primary);
    cursor: pointer;
}

.product_view-sort-title:hover > .product_view-sort-list{
    display: block;
}  

/* product view */

.product_view-list {
    display: flex;
    flex-wrap: wrap;
}

.product_view-list-item {
    position: relative;
}


.product_view-info {    
    cursor: pointer;
}

.product_view-info-img {
    width: 100%;
    font-size: 90%;
}
.proct_view-properties{
    margin-top: 6px;
    font-size: 14px;
    color: darkgray;
}
.product_view-name {
    font-size: 16px;
    color: black;
    margin-top: 6px;
    text-align: center
}

.product_view-cost {
    text-align: center;
    font-size: 14px;
    margin-top: 6px;
    margin-bottom: 40px;

}

.product_view-cost-new {
    color: var(--color-text);
    margin-right: 5px;
    font-weight: bold;
}   

.product_view-cost-old {
    font-size: 13px;
    color: #707070;
    text-decoration: line-through;
}

.product_view-info-sale-off {
    position: absolute;
    font-size: 15px;
    color: #fff;
    top: 0;
    right: 10px;
    height:50px;
    width: 50px;
    background-color: var(--color-primary);
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    z-index: 2;
}

.product_view-info-btn {
    position: absolute;
    bottom: 60%;
    left: 19%;
    display: none;
}


.product_view-info-btn-buy {
    padding: 13px;
    font-size: 10px;
    margin-right: 12px;
    border: 1px outset black;
    cursor: pointer;
}
.shopping_cart{
    color: rgb(4, 60, 4);
}
.product_view-info-btn-watch {
    color: white;
    padding: 12px 40px 12px 40px;
    font-size: 12px;
    border-style: none;
    background-color: rgb(4, 60, 4);
    cursor: pointer;
}
.shopping_cart:hover{
    color:rgb(9, 182, 9);
}

.product_view-info-btn-buy:hover {
    color: rgb(4, 60, 4);
    background-color: var(--color-black);
}
.product_view-info-btn-watch:hover{
    color: #fff;
    background-color: var(--color-green);
}

.product_view-list-item:hover > .product_view-info {
    opacity: 1.4;
}
.product_view-list-item:hover .product_view-info-btn {
    display: block;
}

/* more product */

.more-product {
    display: flex;
}

.more-product_page {
    font-size: 15px;
    color: #252525;
    width: 35px;
    height: 35px;
    background-color: #ebebeb;
    text-align: center;
    line-height: 35px;
    margin: 0 5px;
    cursor: pointer;
}

.more-product_page:hover {
    background-color: var(--color-primary);
    color: #fff;
}

.more-product_page-next {
    font-size: 12px;
}

.switch_active {
    background-color: var(--color-primary);
    color: #fff;
    cursor: not-allowed;
}











